<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>FiltroSegurancaAluno</filter-name>
        <filter-class>controle.FiltroSegurancaAluno</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FiltroSegurancaAluno</filter-name>
        <url-pattern>/Restrito/Aluno/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>FiltroSegurancaServidor</filter-name>
        <filter-class>controle.FiltroSegurancaServidor</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FiltroSegurancaServidor</filter-name>
        <url-pattern>/Restrito/Servidor/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>FiltroSegurancaOperador</filter-name>
        <filter-class>controle.FiltroSegurancaOperador</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FiltroSegurancaOperador</filter-name>
        <url-pattern>/Restrito/Operador/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ListarCursos</servlet-name>
        <servlet-class>controle.ListarCursos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirServidor</servlet-name>
        <servlet-class>controle.InserirServidor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirCurso</servlet-name>
        <servlet-class>controle.InserirCurso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarServidores</servlet-name>
        <servlet-class>controle.ListarServidores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarServidor</servlet-name>
        <servlet-class>controle.AlterarServidor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarCurso</servlet-name>
        <servlet-class>controle.AlterarCurso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirCurso</servlet-name>
        <servlet-class>controle.ExcluirCurso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirTurma</servlet-name>
        <servlet-class>controle.InserirTurma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarTurmas</servlet-name>
        <servlet-class>controle.ListarTurmas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarTurma</servlet-name>
        <servlet-class>controle.AlterarTurma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirTurma</servlet-name>
        <servlet-class>controle.ExcluirTurma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirAluno</servlet-name>
        <servlet-class>controle.InserirAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarAlunos</servlet-name>
        <servlet-class>controle.ListarAlunos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirAluno</servlet-name>
        <servlet-class>controle.ExcluirAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarAluno</servlet-name>
        <servlet-class>controle.AlterarAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirFrequencia</servlet-name>
        <servlet-class>controle.InserirFrequencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirServidor</servlet-name>
        <servlet-class>controle.ExcluirServidor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarLogin</servlet-name>
        <servlet-class>controle.ValidarLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarFrequencia</servlet-name>
        <servlet-class>controle.AlterarFrequencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirFrequencia</servlet-name>
        <servlet-class>controle.ExcluirFrequencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarSenhaAluno</servlet-name>
        <servlet-class>controle.AlterarSenhaAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarSenhaServidor</servlet-name>
        <servlet-class>controle.AlterarSenhaServidor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SairLogin</servlet-name>
        <servlet-class>controle.SairLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListarCursos</servlet-name>
        <url-pattern>/ListarCursos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirServidor</servlet-name>
        <url-pattern>/InserirServidor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirCurso</servlet-name>
        <url-pattern>/InserirCurso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarServidores</servlet-name>
        <url-pattern>/ListarServidores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarServidor</servlet-name>
        <url-pattern>/AlterarServidor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarCurso</servlet-name>
        <url-pattern>/AlterarCurso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirCurso</servlet-name>
        <url-pattern>/ExcluirCurso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirTurma</servlet-name>
        <url-pattern>/InserirTurma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarTurmas</servlet-name>
        <url-pattern>/ListarTurmas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarTurma</servlet-name>
        <url-pattern>/AlterarTurma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirTurma</servlet-name>
        <url-pattern>/ExcluirTurma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirAluno</servlet-name>
        <url-pattern>/InserirAluno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarAlunos</servlet-name>
        <url-pattern>/ListarAlunos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirAluno</servlet-name>
        <url-pattern>/ExcluirAluno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarAluno</servlet-name>
        <url-pattern>/AlterarAluno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirFrequencia</servlet-name>
        <url-pattern>/InserirFrequencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirServidor</servlet-name>
        <url-pattern>/ExcluirServidor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarLogin</servlet-name>
        <url-pattern>/ValidarLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarFrequencia</servlet-name>
        <url-pattern>/AlterarFrequencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirFrequencia</servlet-name>
        <url-pattern>/ExcluirFrequencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarSenhaAluno</servlet-name>
        <url-pattern>/AlterarSenhaAluno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarSenhaServidor</servlet-name>
        <url-pattern>/AlterarSenhaServidor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SairLogin</servlet-name>
        <url-pattern>/SairLogin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>